<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://cxf.apache.org/jaxrs
		http://cxf.apache.org/schemas/jaxrs.xsd">
	
<context:annotation-config />
<aop:aspectj-autoproxy />
	
  	<jaxrs:server id="propertyServiceRouter" address="/"  beanNames="propertySeviceImpl">
  		<jaxrs:providers>
  			<bean class="org.apache.cxf.jaxrs.provider.JAXBElementProvider"/>
   			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
		</jaxrs:providers>
  	</jaxrs:server>
  	<bean name="propertySeviceImpl" class="com.property.ws.impl.PropertyServiceImpl"/>
  	
  	<context:component-scan base-package="com">
		<context:include-filter type="regex"
			expression="windstream\..*" />
		<context:exclude-filter type="regex"
			expression="windstream.retail.entity.*" />
	</context:component-scan>
 
</beans>